.soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
        
    @include flex (flex, center, center);
            
    transition: background-color 250ms var(--timing-function);
}