.clients-list {
    @include flex (flex, center, null);
    
    gap: 30px;
}

.clients-list__link {
    width: 170px;
    height: 92px;

    @include flex (flex, center, center);
  
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
    
    &:hover, &:focus {
    border: 1px solid var(--accent-color);}
}



.clients-list__link-icon {

    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms var(--timing-function);
 
    .clients-list__link:hover &,
    .clients-list__link:focus & {
    fill: var(--accent-color);}
}

