.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-container {
    @include flex (flex, null, baseline );
}

.address__street {
    margin-bottom: 9px;

    @include font-face (400, 14px, 1.71, 0.03em);

    font-style: normal;
   
    color: var(--primary-white-color);
}

.address__link {
    display: block;

    @include font-face (400, 14px, 1.71, 0.03em);

    font-style: normal;
   
    color: rgba(255, 255, 255, 0.6);
    
    &:not(:last-child) {
    margin-bottom: 9px;}
}

.footer-address {
    margin-right: 70px;
}

.join-in {
    margin-right: 93px;
}

.join-in__text {
    margin-bottom: 20px;

    @include font-face (700, 14px, 1.14, 0.03em);

    text-transform: uppercase;
    
    color: var(--primary-white-color);
}

.soc-list-footer {
    @include flex (flex, center, null);
    
    gap: 10px;

}

.soc-list__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover, 
    &:focus {
    background-color: var(--accent-color);}   
   
}


.subscribe__field {
    @include flex (flex, null, baseline);
    
}

.subscribe__title {

    @include font-face (700, 14px, 1.14, 0.03em);

    color: var(--primary-white-color);

    text-transform: uppercase;
}

.subscribe__input {
    width: 358px;
    height: 50px;

    margin-top: 20px;
    margin-right: 12px;

    padding-left: 16px;

    color: var(--primary-white-color);

    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border 250ms var(--timing-function);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
}
    &::placeholder {
    
    @include font-face (400, 16px, 1.25, 0.03em);
    
    color: rgba(255, 255, 255, 0.6);}
}

.subscribe__button {
    @include flex (flex, null, center);
  
    width: 200px;
    height: 50px;
    padding: 10px 28px;

}

.subscribe__button-icon {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    fill: var(--primary-white-color);

}