.header {
    padding-top: 24px;
    padding-bottom: 24px;

    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.navigation{
    @include flex (flex, null, center);
   
}

.header-logo {
    margin-right: 93px;
}

.header-contacts{
    margin-left: auto;
}
